<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sahil Samel" />
    <meta property="og:site_name" content="UpNote" />
    <meta property="og:title" content="UpNote" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="A web application to share notes!" />
    <meta
      property="og:image"
      content="/images/logo.svg"
    />
    <script defer src="/config/script.js"></script>
    <link
      rel="icon"
      sizes="192x192"
      href="/images/logo.svg"
      type="image/x-icon"
    />
    <title>UpNote</title>
  </head>
  <body>
    <main>
        <%- body %>
    </main>
  </body>
</html>
