<link rel="stylesheet" href="/css/styleslogin-signup.css" />
<div class="wrapper">

    <div class="login-div flex-column-centered">
        <div class="login-comps">
          <h1 class="text-center">Login</h1>
          <form method="post" class="flex-column-centered">
            <input type="text" name="username" id="user" placeholder="Username" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="submit" value="Login">
          </form>
          <p style="text-align: center; color: black;">Don't have an account?</p>
          <form action="/signup" method="get" class="flex-column-centered">
            <input type="submit" value="Signup">
          </form>
        </div>
      </div>
</div>
