<link rel="stylesheet" href="/css/stylesnotes.css" />

<div class="wrapper">
    <form action="/notes/newnote" method="post" enctype="multipart/form-data">
        <input type="file" name="note" >
        <input type="submit" value="Upload">
    </form>
</div>