<link rel="stylesheet" href="/css/stylesForum.css" />

<div class="wrapper">
    <section class="postform">
        <form action="/forum/newquestion" method="post">
            <input type="text" name="question">
            <button type="submit">Post</button>
        </form>
    </section>
</div>