<link rel="stylesheet" href="/css/styleslogin-signup.css" />
<div class="wrapper">

    <div class="login-div flex-column-centered">
        <div class="login-comps">
          <h1 class="text-center">Sign up</h1>
          <form method="post" class="flex-column-centered">
            <input type="text" name="username" id="user" placeholder="Username" required>
            <input type="email" name="email" id="password" placeholder="Email" required>
            <input type="text" name="password" id="user" placeholder="Password" required>
            <input type="text" name="full_name" id="password" placeholder="Full Name" required>
            <input type="number" name="sem" id="password" placeholder="Sem" required>
            <input type="text" name="branch" id="password" placeholder="branch" required>
            <input type="text" name="college_name" id="user" placeholder="College" required>
            <input type="submit" value="Sign Up">
          </form>
          <p style="text-align: center; color: black;">Already have an account?</p>
          <form action="/login" method="get" class="flex-column-centered">
            <input type="submit" value="Login">
          </form>
        </div>
      </div>
</div>